body {
background-color: #ccddcc;
margin-left: 64px;
margin-right: 64px;
margin-top: 32px;
margin-bottom: 48px;
color: #111111;
font-family: "Vollkorn", serif;
}
h1.title {
font-family: "Special Elite", cursive;
font-size: 48px;
}
h1,h2 {
font-family: "Bangers", cursive;
letter-spacing: 2px;

margin-left: 16px;
margin-right: 16px;
}
h3 {

margin-left: 16px;
margin-right: 16px;
}
div.inner {
background-color: #eeffee;
box-shadow: 0px 0px 10px #eeffee;
border-radius: 8px;
margin-top: 16px;

}
a {
color: #456789;
text-decoration: none;
}
a:hover {
border-bottom: 1px solid #777777;
}
p {

margin-left: 32px;
margin-right: 16px;